langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
sentence-transformers
chromadb
sqlalchemy
pymysql
docx2txt
pypdf
pillow
pytesseract
openai-whisper
moviepy
python-dotenv
cryptography

